.sec1 {
  display: flex;
  align-items: center;

  &_photo {
    width: 50%;
    overflow: hidden;
    height: 700px;
    display: flex;
    justify-content: center;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_info {
    width: 50%;
    padding: 7rem 3rem;
    font-size: 18px;
    position: relative;

    &_span {
      font-size: 24px;
      color: #bfbfbf;
      font-weight: 400;
    }

    strong {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      color: #ededed;
      z-index: -1;
      font-size: 70px;
      line-height: 1;
      letter-spacing: 3px;
      font-weight: 900;
      font-family: "Yanone Kaffeesatz", sans-serif;
      padding-left: 10px;
      opacity: 0.5;
    }

    h1 {
      letter-spacing: 1px;
      font-weight: 900;
      color: #000;
      margin-bottom: 1.5rem;
      font-size: 3.5rem;
      margin-top: 20px;
      font-family: "Yanone Kaffeesatz", sans-serif;

      span {
        color: #ccb78f;
      }
    }

    h2 {
      color: #999999;
      font-weight: 500;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 25px;
    }
  }

  &_menu {
    margin-top: 40px;

    &_item {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: white;
      border-radius: 50%;
      position: relative;
      padding: 12px;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.sec2 {
  padding: 5em 1.8em;
  background-color: #242423;
  display: flex;

  .left {
    width: 60%;
    padding-right: 50px;
  }

  .right {
    width: 40%;
    padding-left: 50px;
    border-left: 1px solid #fff;
    display: flex;
    align-items: center;

    p {
      line-height: 40px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #fff;
  }

  .contacts {
    margin-top: 50px;
    display: flex;
    
    li {
      display: block;
      margin-left: 50px;
      font-size: 14px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin-right: 7px;
      }
    }
  }

  p {
    color: #fff;
    line-height: 28px;
    opacity: 0.9;

    span {
      color: #ccb78f;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 740px) {
  .sec1 {
    display: block;

    &_photo {
      width: 100%;
      height: 300px;
    }
  }

  .sec2 {
    display: block;

    .left {
      width: 100%;
      padding-right: 0;
    }

    .right {
      width: 100%;
      margin-top: 40px;
    }

    .contacts {
      display: block;
      width: 100%;
      padding: 30px;

      li {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}