.sec2 {
  padding: 5em 1.8em;
  position: relative;

  h3 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }

  .container {
    max-width: 1140px;
    margin: auto;
    display: flex;
  }

  .item {
    width: 20%;
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #000;
      opacity: 0;
      z-index: 1;
      transition: all .3s;
    }

    &:after {
      content: '';
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      position: absolute;
      box-shadow: 0 0 0 20px #fff;
      border-radius: 10px;
      opacity: 0;
      z-index: 1;
      transition: all .3s;
    }

    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      transition: all .3s;
    }

    &:hover {
      &:before, &:after {
        opacity: 0.5;
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 740px) {
  .sec2 {
    .container {
      display: block;
    }

    .item {
      width: 100%;
    }
  }
}