.sec1 {
  height: 100vh;
  display: flex;
  align-items: center;

  &_slider {
    width: 50%;
  }

  &_info {
    width: 50%;
    padding: 3rem;
    font-size: 18px;
    position: relative;

    &_span {
      font-size: 24px;
      color: #bfbfbf;
      font-weight: 400;
    }

    strong {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      color: #ededed;
      z-index: -1;
      font-size: 70px;
      line-height: 1;
      letter-spacing: 3px;
      font-weight: 900;
      font-family: "Yanone Kaffeesatz", sans-serif;
      padding-left: 10px;
      opacity: 0.5;
    }

    h1 {
      letter-spacing: 1px;
      font-weight: 900;
      color: #000;
      margin-bottom: 1.5rem;
      font-size: 3.5rem;
      margin-top: 20px;
      font-family: "Yanone Kaffeesatz", sans-serif;

      span {
        color: #ccb78f;
      }
    }

    h2 {
      color: #999999;
      font-weight: 500;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 25px;
    }
  }

  &_menu {
    margin-top: 40px;

    &_item {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: white;
      border-radius: 50%;
      position: relative;
      padding: 12px;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

@media (max-width: 740px) {
  .sec1 {
    &_slider {
      display: none;
    }

    &_info {
      width: 100%;
    }
  }
}