.sidebar {
  width: 22%;
  background: rgba(0, 0, 0, 0.04);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  position: fixed;
  left: 0;
  top: 0;

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: 24px;

    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      margin-bottom: 20px;
    }

    &_text {
      font-weight: 700;
      font-size: 30px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_link {
      padding: 7px;
      margin-bottom: 15px;
      display: block;
      cursor: pointer;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      font-size: 22px;
      transition: all .3s;
      position: relative;
      text-decoration: none;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        transform: scaleX(0);
        visibility: hidden;
        height: 1px;
        width: 100%;
        background-color: #000;
        left: 0;
        transition: all .3s;
      }

      &:hover, &_active {
        color: #000;

        &:after {
          transform: scaleX(1);
          visibility: visible;
        }
      }
    }
  }
}

.burger {
  position: fixed;
  z-index: 999;
  right: 50px;
  top: 50px;
  display: none;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;

  div {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    position: relative;

    span {
      width: 100%;
      height: 4px;
      background-color: #000;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 0;
      border-radius: 5px;
      transition: all .3s;

      &:before {
        position: absolute;
        background-color: #000;
        content: "";
        width: 100%;
        height: 100%;
        top: -10px;
        transition: all .3s;
      }
      &:after {
        position: absolute;
        background-color: #000;
        content: "";
        width: 100%;
        height: 100%;
        bottom: -10px;
        transition: all .3s;
      }

      &.burger_active {
        transform: rotate(45deg);

        &:before {
          top: 0;
        }

        &:after {
          transform: rotate(90deg);
          bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .sidebar {
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    display: none;

    &.sidebar_active {
      display: block;
    }
  }
  .burger {
    display: flex;
  }
}