.footer {
  background-color: #242423;
  font-size: 14px;
  padding: 6em 6em 1em;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.menu {
  a {
    margin-bottom: 25px;
  }

  &_social {
    width: 35px;
    height: 35px;
    display: block;
    padding: 8px;
    transition: all .3s;
    border-radius: 50%;
    img {
      width: 100%;
      display: block;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &_info {
    color: #fff;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 7px;
    }
  }
}

.nav {
  margin-top: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;

  &_link {
    display: block;
    margin: 0 1.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-bottom: 15px;
    position: relative;
    transition: all .3s;

    &:hover {
      color: #fff
    }
  }
}

.copyright {
    margin-top: 50px;
    color: #5a5a5a;

    a {
      color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 740px) {
  .nav {
    display: none;
  }
}