.header {
  background: #ccb78f;
  padding: 4em 1.8em;

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 1px;
    font-size: 40px;
  }
}

.sec1 {
  padding: 1.8em;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 33.33%;
    overflow: hidden;
    padding: 15px;
    height: 250px;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &:before {
      content: '';
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      top: 15px;
      left: 15px;
      position: absolute;
      background-color: #000;
      opacity: 0;
      z-index: 1;
      transition: all .3s;
    }

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      width: 100%;
      transition: all .3s;
    }

    &_info {
      position: absolute;
      width: 100%;
      padding: 35px;
      left: 0;
      right: 0;
      z-index: 1;
      bottom: 0;
    }

    p {
      opacity: 0;
      transition: all .3s;
    }

    &_text {
      padding-bottom: 20px;
      color: #fff;
      font-size: 18px;
    }

    &_type {
      color: #c1c1c1;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-family: "Yanone Kaffeesatz", sans-serif;
      letter-spacing: 1px;
    }

    &:hover {
      &:before {
        opacity: 0.5;
      }

      p {
        opacity: 1;
      }
    }
  }
}

.snap {
  padding: calc(1.8em + 15px);
  padding-bottom: 0;
  padding-top: 30px;

  a {
    display: block;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1;
      opacity: 0.6;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
      position: absolute;
    }

    h3 {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 740px) {
  .header {
    padding: 3.2em 1.8em;
  }

  .snap {
    padding: calc(0.5em + 6px);
  }

  .sec1 {
    padding: 0.5rem;

    .item {
      width: 50%;
      padding: 6px;
    }
  }
}